@{
    ViewData["Title"] = "Access Denied";
}
<div class="text-center mt-5">
    <h2>Bạn không có quyền truy cập trang web này</h2>
    <p>Nhưng bạn có thể xem và chỉnh sửa timelog của mình</p>
    <a href="/timelog" class="btn-btn-primary mt-3">Đến trang TimeLog</a>
</div>