@model TestManager.Models.UserModel;
@{
    ViewData["Title"] = "Use Details " ;
}
<div class="col-md-6">
    <div class="card card-primary card-outline mb-4">
        <div class="card-header"><div class="card-title">User Details</div></div>
        <form>
            <div class="card-body">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label UserName">Id</label>
                    <input type="text" asp-for="Id" class="form-control" disabled>

                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label UserName">Username</label>
                    <input type="text" asp-for="UserName" id="UserName" value="@Model.UserName" class="form-control" disabled>

                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label FullName">Fullname</label>
                    <input type="text" asp-for="FullName" id="FullName" value="@Model.FullName" class="form-control" disabled>

                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label Email">Email</label>
                    <input type="email" asp-for="Email" id="Email" value="@Model.Email" class="form-control" disabled>
                </div>
            </div>

            <div class="card-footer">
                <a href="/users">Back to user management</a>
            </div>
        </form>
    </div>
</div>

